*{
	margin: 0;
	padding: 0;
}
body,html
{
	width:100%;
	height:100%;
	background: #fff;
	
}
.header{
	height:200px;
	width:100%;
	background: #2fc5c7;
	color: #fff;
}
.pic{
	float: left;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  /* width: 30px; */
  margin-top: 5px;
}
.pic1{
	position: relative;
	background: url('../img/logo.png') no-repeat scroll 0 0 transparent;
	background-size: contain;
}
.logo{
	width:100%;
	height: 50px;
	line-height:50px;
	font-size: 20px;
}
.header-detail{
	height:100px;
	width: 100%;
}
.detail-big{
width:100%;
text-align: center;
font-size: 36px;
font-weight:bold;
}
.detail-small{
	width:250px;
	margin:0 auto;
	text-align: center;
	font-size: 18px;

}
.ps{
	height:80px;
	width:100%;
	line-height: 80px;
	font-size: 22px;
	color: #2fc5c7;
}
.ps-left{
	float: left;
	text-align: right;
	width:45%;

}
.ps-mid{
	
	/*height:40px;*/
	/*margin: 0 auto;*/
	width:10%;
	float: left;
	margin-top:15px;
	
}
.ps1-mid{
	width:10%;
	float: left;
	/*margin-top:15px;*/
	text-align: center;
	color: #f4d43e;
	font-size: 18px;
	font-weight: bold;
}
.ps-mid-logo{
	width:40px;
	height: 40px;
	margin: 0 auto;
}
.ps-mid-logo img{
	width:100%;
	height: 100%;

}
.ps-right{
	float: right;
	text-align: left;
	width:45%;
}
.ps-1{
	width:100%;
	height: 150px;
}
.ps1-left{
	float: left;
	text-align: right;
	width:45%;
	font-size: 16px;
	color: #333;

}
.ps1-right{
	float: right;
	text-align: left;
	width:45%;
	font-size: 16px;
	color: #333;
}
.ps-2{
	width:100%;
	height: 20px;
}
p{
	margin-top: 15px;
}
.flow{
	height: 500px;
	width: 100%;
	background: #f5f5f5;
}
.flow-h{
    height: 50px;
    clear: both;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
   color: #2fc5c7;
}
.flow-b-num{
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 80px;
	clear: both;
}
.flow-b-head{
	float: left;
	/*line-height: 40px;*/
	margin-left: 10px;
	width: 200px;
	font-size: 16px;
	color: #666666;
}
.line{
	width:2px;
	height: 70px;
	background: #f4d43e;
	margin-left: 19px;
}
.intro{
	font-size: 22px;
	color: #333;
}
.base-h{
	height: 50px;
	line-height: 50px;
	color: #2fc5c7;
	   font-size: 22px;
	   text-align: center;

}
.base{
	width:100%;
	height: 1300px;
}
.base-b-head{
	float: left;
	/*line-height: 40px;*/
	margin-left: 10px;
	/*margin-right: 90px;*/
	font-size: 16px;
	color: #666666;
}
.base-detail{
	clear: both;
	margin-left: 90px;
	margin-right: 90px;
}
.show{
	width:800px;
	height: 800px;
	margin:0 auto;
}
.show-left{
	float: left;
	width:300px;
	height: 600px;
	margin-top:50px;
}
.show-left img{
	width:100%;
	height: 100%;
}
.show-mid{
	width: 200px;
	height: 20px;
	float: left;
	
	margin-top:350px;
}
.show-mid img{
	width: 100px;
	height: 100%;
	margin-left: 50px;
}
.show-right{
float: left;
	width:300px;
	height: 600px;
	margin-top:50px;
}
.show-right img{
	width:100%;
	height: 100%;
}
.xit{
	float: left;
}
.return{
	float: left;
	margin-left: 5px;
}