@charset "utf-8";
/* CSS Document */

/* ---------- init ---------- */
html,body{height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;word-wrap:break-word;}
body,button,input,select,textarea{font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#333;}
th{text-align:inherit;}
ol,ul{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
ins,a{color:#000;text-decoration:none;}
a,img{-webkit-touch-callout:none;}
table{border-collapse:collapse;}

.swiper-container{
	width:100%;
	height:100%;
	overflow: hidden;
}
.swiper-slide{
	position:relative;
	width:100%;
	height:100%;
}
.swiper-slide img{
	width:100%;
}
.slide-c2{
	position: absolute;
	top: 30%;
	right: 0;
	-webkit-transform:translateY(29%);
	transform:translateY(29%);
}
.slide-c3{
	position: absolute;
	top: 57%;
	right: 0;
	-webkit-transform:translateY(-18%);
	transform:translateY(-18%);
}
.website-video {
	position: absolute;
	bottom: 9%;
	left: 35%;
	display: table;
	width: 31%;
	height: 5%;
	text-align: center;
	border: 1px solid #2b73cd;
	background: #2b73cd;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transform:translateY(80%);
	transform:translateY(80%);
}
.website-video a {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size:12px;
}




.swiper-part1{
	width:84%;
	height:12%;
	padding-left:16%;
	background:#fff;
	font-size:12px;
	color:#666;
	display:table;
}
.swiper-part1 span{
	display:table-cell;
vertical-align:middle;
}
.swiper-part1 em{
	font-style:normal;
	color:#3399cc;
}
.swiper-part2{
	position:relative;
	width:100%;
	height:14%;
	background:#fff;
	text-align:center;
	overflow:hidden;
}
.swiper-part2-box {
	padding:0 16%;
}
.swiper-part2-c1{
	float:left;
	width:23%;
	font-size:7px;
}
.swiper-part2-c1 span{
	display:block;
	color:#3399cc;
	font-size:21px;
	margin-bottom:20%;
}
.swiper-part2-c2{
	margin:0 15.5%;
}
.swiper-part3{
	width:100%;
	height:20%;
}
.swiper-part3 img{
	display:block;
	width:100%;
	height:100%;
}

.swiper-next{
	position:absolute;
	top:5%;
	left:5%;
	width:18px;
	height:18px;
}
.swiper-prev{
	position:absolute;
	top:5%;
	right:5%;
	width:18px;
	height:18px;
}

.swiper-next img,.swiper-prev img{
	width:100%;
	height:100%
}
.swiper-part4{
	width:100%;
	height:10%;
	display:table;
	text-align:center;
}
.swiper-part4 span{
	display:table-cell;
    vertical-align:middle;
	font-size:13px;
	color:#666;
}
.swiper-part5{
	position:relative;
	width:100%;
	height:27%;
}
.swiper-box2{
	width:68%;
	height:27%;
	padding:0 16%;
	text-align:center;
	color:#666;
}

.swiper-part5-b1 img{
	width:47%;
}
.swiper-part5-b1{
	margin-bottom:3%;
}
.swiper-part5-b2{
	font-size:12px;
	line-height:12px;
	margin-bottom:3%;
}
.swiper-part5-b3{
	font-size:9px;
	line-height:9px;
}

.swiper-next1{
	position:absolute;
	top:42%;
	right:7%;
}
.swiper-prev1{
	position:absolute;
	top:42%;
	left:7%;
}


.swiper-list{
	width:100%;
	height:100%;
}
.swiper-list-c{
	float:left;
	height:26%;
	text-align:center;
}
.swiper-list-c:nth-child(2n+1){
	padding: 7.3% 0 0 8%;
	width:42%;
}
.swiper-list-c:nth-child(2n){
	padding: 7.3% 8% 0 0;
	width:42%;
}


.swiper-list-c a{
	display:inline-block;
	width:100%;
}
.swiper-list-c img{
	display:block;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c span{
	display:block;
	text-align:center;
	font-size:12x;
}


.swiper-list-c1 a {
	background:url(img/app-b1.png) 0 0 no-repeat;
	background-size:100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c1 a img:active{
	opacity:0;
}
.swiper-list-c2 a{
	background:url(img/app-b2.png) 0 0 no-repeat;
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c2 a img:active{
	opacity:0;
}
.swiper-list-c3 a{
	background:url(img/app-b3.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c3 a img:active{
	opacity:0;
}
.swiper-list-c4 a{
	background:url(img/app-b4.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c4 a img:active{
	opacity:0;
}
.swiper-list-c5 a {
	background:url(img/app-b5.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c5 a img:active{
	opacity:0;
}
.swiper-list-c6 a {
	background:url(img/app-b6.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c6 a img:active{
	opacity:0;
}
.swiper-list-c7 a {
	background:url(img/app-b7.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c7 a img:active{
	opacity:0;
}
.swiper-list-c8 a {
	background:url(img/app-b8.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c8 a img:active{
	opacity:0;
}
.swiper-list-c9 a {
	background:url(img/app-b9.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c9 a img:active{
	opacity:0;
}
.swiper-list-c10 a {
	background:url(img/app-b10.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c10 a img:active{
	opacity:0;
}
.swiper-list-c11 a {
	background:url(img/app-b11.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c11 a img:active{
	opacity:0;
}
.swiper-list-c12 a {
	background:url(img/app-b12.png);
	background-size: 100%;
	width:93px;
	height:93px;
	text-align:center;
	margin-bottom:10%;
}
.swiper-list-c12 a img:active{
	opacity:0;
}




